/*main {
	padding: 0px 0px;
	margin: 0px 0px;
}*/

* {
	color: white;
	font-family: "Gill Sans", sans-serif;
	font-size: 2vw;
}

body {
	background-color : black;
}

div {
	margin: 0px 0px;
	padding: 0px 0px;
	justify-content: center;
}

section {
	display: flex;
	justify-content: space-between;
	border: hidden solid white;
	border-radius: 15px;
	margin-right: 5vw;
	margin-left: 5vw;
	box-shadow: 3px 3px 3px green;
	margin-bottom: 0px;
	margin-top: 0px;
}

a {
	text-decoration-line: unset;
	font-family: fantasy;
	color: yellow;
}

.title {
	background-position: center;
  	text-align: center;
}

.info {
	display: flex;
}

.info__container {
	display: block;
}


.info__image-container {
	display: flex;
	align-items: center;
}

.info__title {
	text-align: center;	
	padding-left: 1vw;
	padding-right: 1vw;
}

.info__line {
	font-size : 1.7vw
}

.rounded {
	border-radius: 30px;
}

.my-photo {
  height: 50vw;
  border-radius: 20px;
}

.about {
	justify-content: space-around;
	margin-top: 2vw;
	margin-bottom: 2vw;
}

.about__card {
	margin-top: 5px;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.about-circle {
	display: inline-flex;
	border: hidden solid white;
	box-shadow: 3px 3px 3px green;
	font-size: 3vw;
	text-align: center;
	padding: 3px 10px;
	margin-right: 10px;
	margin-left: 10px;
	width: 20vw;
}

.about-circle:hover {
	box-shadow: 3px 3px 3px yellow;
}

.footer-section {
	border-bottom: 0px;
	display: block;
/*	box-shadow: 3px 0px 3px green;*/
}

.footer-part {
/*	border: 1px solid red;*/
	padding: 5px 5px;
}

.contacts {
	display: flex;
	background-size: contain;
	justify-content: space-around;
	align-items: center;
}

.contact-container {
	display: flex;
	align-items: space-between;
	justify-content: space-around;
}

.image-icon {
  width: 10vw;
  height: 10vw;
}

.logo {
	border : hidden;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gallery-container {
	display: block;
	min-height: 500px;
}

.gallery {
	border: hidden;
}

@media (max-width: 768px) {
	/* For mobile phones: */
	.info {
	    flex-direction: column-reverse;
	    justify-content: center;
	    flex-wrap: wrap;
	    align-items: center;
	}
	.about {
	    flex-direction: column;
	    justify-content: center;
	    flex-wrap: wrap;
    	align-items: center;
	}
}

