.reminder__popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: black;
}

.reminder__popup-content {
  text-align: center;
}

.reminder__popup.open {
  display: block;
  animation: animatedAppearance 0.4s linear;
}

.reminder__popup-close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

