* {
	background: transparent;
	color: white;
	font-family: "Gill Sans", sans-serif;
	font-size: 2vw;
}

body {
/*	background-color : black;*/
/*background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/
            background: linear-gradient(to bottom right, blue, pink);
        background: linear-gradient(to bottom right, blue, pink);
}

div {
	justify-content: center;
}

section {
	display: flex;
	justify-content: center;
	align-items: ;
	border: hidden solid white;
	border-radius: 15px;
	margin-right: 5vw;
	margin-left: 5vw;
	box-shadow: 3px 3px 3px green;
}

a {
	text-decoration-line: unset;
	font-family: fantasy;
	color: yellow;
}

h2 {
	text-align: center;
}

.title {
	background-position: center;
  	text-align: center;
}

.info {
	display: flex;
}

.info__container {
	display: block;
}


.info__image-container {
	display: flex;
	align-items: center;
}

.info__title {
	text-align: center;	
	padding-left: 1vw;
	padding-right: 1vw;
}

.info__line {
	font-size : 1.7vw
}

.rounded {
	border-radius: 30px;
}

.my-photo {
  height: 50vw;
  border-radius: 20px;
}

.cards {
	display: flex;
	flex-direction: row;
}

.about-section {
	justify-content: space-around;
	margin-top: 2vw;
	margin-bottom: 2vw;
	flex-direction: column;
}

.about__card {
	margin-top: 5px;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.about-circle {
	display: inline-flex;
	border: hidden solid white;
	box-shadow: 3px 3px 3px green;
	font-size: 3vw;
	text-align: center;
	padding: 3px 10px;
	margin-right: 10px;
	margin-left: 10px;
	width: 20vw;
	transition: box-shadow 0.3s ease;
}

.about-circle:hover {
	box-shadow: 3px 3px 3px yellow;
}

.footer__section {
	border-bottom: 0px;
	display: flex;
	flex-direction: column;
}

.footer-part {
	padding: 5px 5px;
}

.contacts {
	display: flex;
	background-size: contain;
	justify-content: space-around;
	align-items: center;
}

.contact-container {
	display: flex;
	align-items: space-between;
	justify-content: space-around;
}

.image-icon {
  width: 10vw;
  height: 10vw;
}

.logo {
	border : hidden;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gallery-section {
	flex-direction: column;
}

.footer__feedback {
	display: flex;
	padding-top: 1vh;
}

button {
    font-size: 3vw;
    cursor: pointer;
    text-align:center;
    color: black;
}

.feedback__button {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    border: none;
}

.feedback__button:hover {
	transform: scale(0.99);
}

@media (max-width: 768px) {
	/* For mobile phones: */
	.info {
	    flex-direction: column-reverse;
	    justify-content: center;
	    flex-wrap: wrap;
	    align-items: center;
	}
	.about {
	    flex-direction: column;
	    justify-content: center;
	    flex-wrap: wrap;
    	align-items: center;
	}
}