.timer {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.timer__container {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.timer__title {
  color: white;
}

.timer__time {
  display: flex;
  color: yellow;
  font-size: 1.5rem;
}